@import '../fonts/fonts';


h1 {
  font-family: 'HelveticaNeueCyr Regular';  
  font-size: 32px;
  font-weight: normal;
}

h2 {
  font-family: 'HelveticaNeueCyr Lite';  
  font-weight: 300;
}

h3 {
  font-family: 'GT Walsheim Pro';  
}