// ========== Breakpoints ==========
$sm:  576px;
$md:  768px;
$lg:  992px;
$xl:  1200px;
$xxl: 1400px;

// ========== Fonts ==========
$ff__Helvetica: 'HelveticaNeueCyr';
$ff_Walsheim: 'GT Walsheim Pro';

$fs__base:              14px;

// ========== Colors ==========
$white:    #ffffff;

$black:    #000000;
$black_08: rgba(0, 0, 0, .8);
$black_04: rgba(0, 0, 0, .4);
$black_1:  #100f0f;

$orange:   #ff634a;

$bg_color: #f2eeee;

// ========== Z-index ==========
$zindex-dropdown: 1000;
