//==============================
//        Variables
//==============================
$footer__bg: $bg_color;

//==============================
//        Footer
//==============================
.footer {
  padding: 32px 0 24px;
  background-color: $footer__bg;

  &__nav {
    &_bottom {
      margin: 10px -10px 0;
    }
  }

  @media screen and (min-width: $md) {
    padding: 43px 0 21px;
    &__nav {
      display: flex;

      &_bottom {
        margin: 33px -10px 0;
      }
    }
  }
}

//==============================
//        Social
//==============================
.social {
  margin: 14px 0 20px;

  &__item:not(:first-child) {
    margin-left: 13px;
  }

  @media screen and (min-width: $md) {
    margin: 0 0 23px;

    &__item:not(:first-child) {
      margin-left: 10px;
    }
  }
}